.sign-in {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  background-color: $overlay-color;
}

.sign-in form {
  position: relative;
  box-sizing: border-box;
  width: 544px;
  padding: 56px;
  display: flex;
  flex-flow: column;

  background-color: $alternative-color;
  border: 4px solid $primary-active-color;

  @include tablet-mobile {
    padding: 56px 84px;
    width: 678px;
  }

  @include mobile {
    padding: 46px 16px 42px;
    width: 290px;
  }
}

.sign-in__logo {
  margin-bottom: 30px;
  margin-right: auto;

  @include mobile {
    margin-bottom: 20px;
    margin-left: -5px;
  }
}

.sign-in label {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-flow: column;

  font-weight: 400;
  font-size: 16px;

  color: $label-color;

  &:last-of-type {
    margin-bottom: 6px;
  }

  @include mobile {
    margin-bottom: 19px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

.sign-in input {
  margin-top: 5px;
  padding: 19px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 18px;

  border: 1px solid $primary-color;
  border-radius: 4px;
  color: inherit;
}

.sign-in__password-input {
  padding-right: (19px + 22px + 19px);

  @include mobile {
    padding-right: (15px + 22px + 15px);
  }
}

.sign-in__password-toggle-button {
  position: absolute;
  right: 19px;
  bottom: 19px;
  padding: 5px;
  display: flex;

  cursor: pointer;
  border: none;
  background-color: transparent;

  @include mobile {
    right: 10px;
  }
}

.sign-in__password-toggle-button svg {
  width: 22px;
  height: 12px;
}

.sign-in__password-toggle-button span {
  @include visually-hidden;
}

.sign-in__password-toggle-button:hover path {
  stroke: $black-color;
}

.sign-in__password-toggle-button:active {
  opacity: 0.5;
}

.sign-in__forgotten-password {
  margin-left: auto;
  margin-bottom: 27px;
  display: flex;

  font-weight: 400;
  font-size: 12px;
  text-decoration: none;

  color: $primary-legend-color;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }

  @include mobile {
    order: 1;
    margin-bottom: 0;
    margin-right: auto;

    font-size: 14px;
  }
}

.sign-in button[type="submit"] {
  @include button;

  order: 1;
  padding: 20px;

  font-weight: 500;
  font-size: 18px;

  @include mobile {
    font-size: 14px;

    padding: 18px 18px 17px;
    margin-bottom: 10px;
  }
}

.sign-in__close-button {
  position: absolute;
  right: 51px;
  top: 51px;
  display: flex;
  box-sizing: content-box;
  padding: 5px;
  width: 16px;
  height: 16px;

  cursor: pointer;
  border: none;
  background-color: transparent;

  @include tablet-mobile {
    right: 79px;
  }

  @include mobile {
    right: 9px;
    top: 39px;
  }
}

.sign-in__close-button svg {
  width: 16px;
  height: 16px;
}

.sign-in__close-button:hover path {
  stroke: $black-color;
  stroke-width: 3px;
}

.sign-in__close-button:active {
  opacity: 0.5;
}

.sign-in__close-button span {
  @include visually-hidden;
}
