.car-credit-parameters {
  margin: 0;
  margin-top: 33px;
  margin-bottom: -30px;
  padding: 0;

  border: none;
  background-color: transparent;

  @include mobile {
    margin-top: 24px;
  }
}

.car-credit-parameters h3 {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  display: flex;

  font-weight: 500;
  font-size: 22px;

  @include tablet-mobile {
    margin-bottom: 15px;

    font-size: 18px;
  }

  @include mobile {
    margin-bottom: 10px;

    font-size: 16px;
  }
}

.car-credit-parameters__credit-period {
  margin-bottom: 23px;

  @include tablet-mobile {
    margin-bottom: 18px;
  }

  @include mobile {
    margin-bottom: 13px;
  }
}

.car-credit-parameters__credit-period .range-slider {
  margin-top: 10px;
}
