.credit-denial {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 52px 58px 55px;
  width: rubber(500px);

  border-radius: 4px;
  background-color: $alternative-color;

  @include tablet-mobile {
    width: 678px;
  }

  @include mobile {
    padding: 34px 15px 36px;
    width: 290px;
  }
}

.credit-denial strong {
  display: flex;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;

  margin-bottom: 12px;

  @include tablet {
    width: 350px;
  }

  @include mobile {
    width: 208px;

    font-size: 18px;
  }
}

.credit-denial p {
  margin: 0;
  padding: 0;

  font-weight: 400;

  color: $label-color;

  @include tablet {
    width: 253px;
  }
}
