.credit-parameters {
  margin-bottom: (38px - 33px);
  width: rubber(600px);
  display: flex;
  flex-flow: column;

  @include tablet-mobile {
    margin-bottom: (10px - 33px);
    width: 100%;
  }
}

.credit-parameters h3 {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  display: flex;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;

  @include tablet-mobile {
    margin-bottom: 15px;

    font-size: 18px;
  }

  @include mobile {
    margin-bottom: 10px;

    font-size: 16px;
  }
}

.credit-parameters__step {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  border: none;
  background-color: transparent;

  @include mobile {
    margin-bottom: 24px;
  }
}

.credit-parameters__legend {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;

  user-select: none;
  color: $primary-legend-color;
}

.credit-parameters input {
  box-sizing: border-box;
  padding: 16px 24px 17px;
  width: 100%;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;

  border: 1px solid $primary-color;
  border-radius: 4px;
  color: $primary-color;

  @include tablet-mobile {
    padding-top: 19px;
    padding-bottom: 19px;

    font-size: 16px;
  }

  @include mobile {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.credit-parameters select {
  box-sizing: border-box;
  margin: 0;
  padding: 18px 24px;
  padding-right: (24px + 18px + 24px);
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;

  appearance: none;
  cursor: pointer;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background: transparent url("../../images/select-icon.svg") no-repeat calc(100% - 22px) center / 18px 11px;

  @include mobile {
    padding-left: 14px;
    padding-right: (13px + 18px + 13px);

    background-position: calc(100% - 13px) center;
  }
}

.credit-parameters__goal div {
  position: relative;
}

.credit-parameters__goal h3 {
  margin-bottom: 22px;

  @include tablet-mobile {
    margin-bottom: 19px;
  }

  @include mobile {
    margin-bottom: 15px;
  }
}

.credit-parameters__goal ul {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-flow: column;

  border: 1px solid $primary-color;
  border-radius: 4px;
  background-color: $white-color;
}

.credit-parameters__goal select:focus + ul {
  @include thin-outline;
}

.credit-parameters__goal.active ul {
  display: flex;
}

.credit-parameters__goal li {
  padding: 18px 24px;

  font-size: 16px;
  line-height: 1.4;

  cursor: pointer;
  border-bottom: 1px solid $border-color;

  &:first-of-type {
    position: relative;
    padding-right: (24px + 18px + 24px);

    border-color: $calculator-border-color;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background: transparent url("../../images/select-icon.svg") no-repeat calc(22px) center / 18px 11px;

      transform: rotate(180deg);
    }
  }

  &.active {
    font-weight: 500;
  }

  &:hover {
    font-weight: 500;
  }
}

.credit-parameters__property-value {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-flow: column;

  font-size: 16px;
  line-height: 1.4;

  border: none;
  color: $label-color;

  @include tablet-mobile {
    margin-bottom: 14px;
  }

  @include tablet-mobile {
    margin-bottom: 12px;
  }
}

.credit-parameters__property-value label {
  margin-bottom: 10px;
  display: flex;

  @include tablet-mobile {
    margin-bottom: 8px;
  }

  @include tablet-mobile {
    margin-bottom: 9px;
  }
}

.credit-parameters__property-value div {
  position: relative;
  margin: 0;
  padding: 0;

  border-radius: 4px;
}

.credit-parameters__property-value.error div {
  @include dangerous-outline;

  &::before {
    content: "некорректное значение";
    position: absolute;
    left: 50%;
    bottom: 5px;

    color: $dangerous-outline-color;
    font-size: 14px;

    transform: translateX(-50%);

    @include mobile {
      font-size: 12px;
    }
  }
}

.credit-parameters__property-value-increment {
  position: absolute;
  right: 19px;
  top: 16px;
  box-sizing: content-box;
  margin: 0;
  padding: 5px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  background-color: transparent;

  @include tablet-mobile {
    top: 18px;
  }

  @include mobile {
    top: 17px;
    right: 10px;
  }
}

.credit-parameters__property-value-increment svg {
  width: 16px;
  height: 16px;
}

.credit-parameters__property-value-increment:hover path {
  stroke-width: 3px;
}

.credit-parameters__property-value-increment:active path {
  stroke-opacity: 0.5;
}

.credit-parameters__property-value-decrement {
  position: absolute;
  left: 19px;
  top: 16px;
  box-sizing: content-box;
  margin: 0;
  padding: 5px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  background-color: transparent;

  @include tablet-mobile {
    top: 18px;
  }

  @include mobile {
    top: 17px;
  }
}

.credit-parameters__property-value-decrement svg {
  width: 16px;
  height: 16px;
}

.credit-parameters__property-value-decrement:hover line {
  stroke-width: 3px;
}

.credit-parameters__property-value-decrement:active line {
  stroke-opacity: 0.5;
}

.credit-parameters__initial-payment {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-flow: column;

  font-size: 16px;
  line-height: 1.4;

  border: none;
  color: $label-color;

  @include tablet-mobile {
    margin-bottom: 13px;
  }

  @include mobile {
    margin-bottom: 9px;
  }
}

.credit-parameters__initial-payment .range-slider {
  margin-top: 14px;
}

.credit-parameters__initial-payment label {
  margin-bottom: 10px;
  display: flex;

  @include tablet-mobile {
    margin-bottom: 8px;
  }
}

.credit-parameters__credit-period {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-flow: column;

  font-size: 16px;
  line-height: 1.4;

  border: none;
  color: $label-color;

  @include tablet-mobile {
    margin-bottom: 16px;
  }

  @include mobile {
    margin-bottom: 13px;
  }
}

.credit-parameters__credit-period label {
  margin-bottom: 10px;
}

.credit-parameters__credit-period .range-slider {
  margin-top: 10px;
}

.credit-parameters__maternity-capital {
  margin-bottom: 30px;
  display: flex;
  flex-flow: wrap;
  align-items: center;

  font-size: 16px;
  line-height: 1.4;

  cursor: pointer;
  color: $label-color;

  @include mobile {
    font-size: 14px;
  }
}

.credit-parameters__maternity-capital span {
  padding: 0 3px;
  margin: 0 -3px;
  display: flex;
  flex-flow: wrap;
  align-items: center;

  border-radius: 4px;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    margin-right: 8px;
    display: flex;

    border-radius: 2px;
    border: 1px solid $primary-color;
  }
}

.credit-parameters__maternity-capital input {
  @include visually-hidden;
}

.credit-parameters__maternity-capital input:checked + span {
  &::before {
    border-color: $primary-active-color;
    background: $primary-active-color url("../../images/checkbox-icon.svg") no-repeat center center / 8px 6px;
  }
}

.credit-parameters__maternity-capital input:focus + span {
  @include outline;
}
