.number-input-with-slider {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-flow: column;

  border: none;
  color: $label-color;

  @include tablet-mobile {
    margin-bottom: 16px;
  }

  @include mobile {
    margin-bottom: 14px;
  }
}

.number-input-with-slider .range-slider {
  margin-top: 14px;
}

.number-input-with-slider label {
  margin-bottom: 10px;
  display: flex;

  @include tablet-mobile {
    margin-bottom: 10px;
  }

  @include mobile {
    margin-bottom: 8px;
  }
}

.number-input-with-slider p {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  white-space: pre-wrap;

  user-select: none;
  color: $primary-legend-color;

  @include tablet-mobile {
    margin-top: 2px;
  }
}
