.hero-area {
  position: relative;
}

.hero-area__controls {
  position: absolute;
  z-index: 1;
  top: 347px;
  left: 50%;
  transform: translateX(-50%);

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  @include tablet {
    top: 274px;
  }

  @include mobile {
    top: 208px;
  }
}

.hero-area__controls button {
  margin: 0;
  padding: 4px;
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  display: flex;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $slider-control-color;
  background-clip: content-box;

  &.active {
    background-color: $slider-control-active-color;

    &.alternative {
      background-color: $slider-control-alternative-active-color;
    }
  }

  @include mobile {
    width: 6px;
    height: 6px;
    padding: 3px;
  }
}

.hero-area__slides {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}

.hero-area__slides li {
  width: 100%;
}
