.logo {
  &--active {
    pointer-events: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.logo img {
  width: 150px;
  height: 31px;
  display: block;

  @include tablet {
    width: 133px;
    height: 24px;
  }

  @include mobile {
    width: 115px;
    height: 19px;
  }
}

.logo--extended img {
  width: 150px;
  height: 31px;
  display: block;
}
