.offices {
  display: flex;
  flex-flow: column;

  margin-top: 93px;
  margin-bottom: 110px;

  @include tablet {
    margin-top: 67px;
    margin-bottom: 80px;
  }

  @include mobile {
    margin-top: 53px;
    margin-bottom: 60px;
  }
}

.offices__header {
  @include container;
}

.offices h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 57px;

  font-weight: bold;
  font-size: 41px;

  @include tablet {
    margin-bottom: 35px;

    font-size: 32px;
  }

  @include mobile {
    margin-bottom: 28px;

    font-size: 22px;
  }
}

.offices__map {
  @include container;

  display: grid;
  align-items: start;

  @include mobile {
    padding: 0;
    width: 100%;
  }
}

.offices__map picture,
.offices__map img,
.offices__map-container {
  grid-area: 1 / 1;
}

.offices__map img {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
}

.offices__map-container {
  width: 100%;
  height: 462px;
  display: flex;

  @include tablet {
    height: 462px;
  }

  @include mobile {
    height: 381px;
  }
}
